body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6cb78;
}

.container {
    background-color: #4c4c4c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: inline-block;
    color: #fff;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #bdbdbd;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e4e402;
}

